.git
.github
.gitignore
.udap
node_modules
coverage
infra
k8s
modules
test
*.md
.env
.env.*
.eslintcache
.prettierignore
.prettierrc.json
eslint.config.mjs
.trivyignore
.gitleaks.toml
sbom-*.json
*.sarif
